@mixin font-face($ff, $fs, $fw, $url) {
  @font-face {
    font-family: "#{$ff}";
    font-style: $fs;
    font-weight: $fw;
    src: url("#{$url}.woff2") format("woff2"),
      url("#{$url}.woff") format("woff");
  }
}
// RALEWAY

@include font-face(Raleway, normal, 400, "../fonts/raleway-v14-latin-regular");
@include font-face(Raleway, normal, 700, "../fonts/raleway-v14-latin-700");

// MONTSERRAT
@include font-face(
  Montserrat,
  normal,
  400,
  "../fonts/montserrat-v14-latin-regular"
);
@include font-face(
  Montserrat,
  normal,
  700,
  "../fonts/montserrat-v14-latin-700"
);

$montserrat-font: "Montserrat", sans-serif;
$raleway-font: "Raleway", sans-serif;
