.task-list {
  @include row-flex();
  // @include md(height, auto);
  padding-top: 20px;
  height: 100vh;
  overflow: scroll;
}
.note {
  @include col();
  @include size(4);
  @include size-md(6);
  @include size-xs(12);
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 20px;
  position: relative;
  margin-bottom: 10px;
  height: 250px;

  &[data-status="done"] {
    background-color: #6dc46dac;
  }

  span {
    border: 1px solid #000;
    display: inline-block;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #a9a3a3;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
  }

  &__description {
    overflow: scroll;
    height: 100px;
  }

  &__description,
  &__title {
    font-family: $raleway-font;
    word-wrap: break-word;
  }
  &__option {
    position: relative;
    cursor: pointer;

    span {
      background-color: #fff;
    }

    .note-open {
      display: block;
    }
  }

  &__additional {
    width: 100px;
    position: absolute;
    right: 4px;
    display: none;
    z-index: 999;
  }

  &__list {
    border: 1px solid #000;
    text-align: center;
    background-color: #a9a7a7;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }
  // arrow
  &__top {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: -21px;
      right: 9px;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #000;
      border-left: 10px solid transparent;
    }
  }

  .note__priority {
    border: 1px dashed #000;
    &-high {
      background-color: #f246468a;
    }

    &-normal {
      background-color: #f2b23b9a;
    }

    &-low {
      background-color: #008000a8;
    }
  }
}
