.todo
  input(class="todo__search" id="task-search" placeholder="search by title" type="text" size="40" autocomplete="off")
  select(class="todo__select" id="task-status" )
    option(value="all") All
    option(value="open") Open
    option(value="done") Done
  select(class="todo__select" id="task-priority" )
    option(value="all") All
    option(value="high") High
    option(value="normal") Normal
    option(value="low") Low
  button(class="todo__button" id="button-create") Create